/* Styles for the body if needed */
body {
  font-family: quattrocento, sans-serif; /* Set a default font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}



.container {
  padding: 2%;
  position: relative; /* Add position relative */
}

.heading {
  text-align: center;
  margin-bottom: 2%;
}

.heading h1 {
  font-size: 3vw; /* Responsive font size */
  color: #3ce9f6;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  margin-bottom: 1%;
  position: relative;
}

.heading h1:before,
.heading h1:after {
  content: "";
  display: block;
  width: 1.5vw; /* Responsive width */
  height: 0.1vw; /* Responsive height */
  background-color: #1e08e4;
  position: absolute;
  bottom: -0.3vw;
}

.heading h1:before {
  left: 50%;
  transform: translateX(-50%);
}

.heading h1:after {
  right: 50%;
  transform: translateX(50%);
}

.table-container {
  width: 100%; /* Responsive width */
  max-height: 70vh; /* Responsive height */
  overflow-y: auto;
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,table td {
  border: 1px solid #324258;
  padding: 0.5vw; /* Responsive padding */
  text-align: left;
  white-space: nowrap; /* Prevent wrapping of table cell content */
  overflow: hidden; /* Hide content that overflows cell */
  text-overflow: ellipsis; /* Display an ellipsis (...) to represent overflow */
}

th {
  background-color:#324258;
  font-weight: bold;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody tr {
  background-color: white;
}

.selected {
  background-color: rgb(51, 175, 216);
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 0.2vw solid #0c0c0c;
  width: auto;
  height: auto;
  max-height: 100%;
  z-index: 9999;
  padding: 2vw;
  box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.5);
  border-radius: 1vw;
}


.popup-content {
  text-align:left;
}

.popup-title {
  color: #030303; /* Title color */
  margin-bottom: 1vw;
  
}
.popup-body {
  max-height: 20vh;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling */
   /* Prevent wrapping of content */
  display: flex; /* Use flexbox to ensure proper alignment */
  
}


.close {
  color: #324258; /* Changed the color to match the header */
  float:right;
  font-size: 3vw;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.table-container table {
  table-layout: fixed;
  width: auto;
}

/* Modify the background color of frozen column cells */
.table-container th:first-child,
.table-container td:first-child,
.table-container th:nth-child(2),
.table-container td:nth-child(2),
.table-container th:nth-child(3),
.table-container td:nth-child(3) {
  position: sticky;
  left: 0;
  z-index: 2; /* Increase z-index to make the titles visible above the frozen columns */
  background-color: #ffffff; /* Change the background color of frozen column cells to white */
}

/* Adjust the text color of frozen column titles to match the header */
.table-container th:first-child,
.table-container th:nth-child(2),
.table-container th:nth-child(3),
.table-container td:first-child,
.table-container td:nth-child(2),
.table-container td:nth-child(3) {
  padding-left: 0.5vw;
  position: sticky;
  background-color:white;

}
.table-container th:first-child,
.table-container th:nth-child(2),
.table-container th:nth-child(3)
{
  background-color: #324258; /* Changed the color to match the header */

}

/* Pagination styles */
.pagination-container {
  width: 100%; /* Take full width */
  text-align: center; /* Center the pagination */
  margin-top: 2%;
}

.pagination {
  display: inline-block; /* Display buttons in a row */
}

.pagination button {
  cursor: pointer;
  background-color: #324258;
  color: white;
  border: none;
  margin-right: 0.5vw;
  padding: 0.4vw 0.5vw;
  border-radius: 0.3vw;
}

.pagination button.active {
  background-color: #496080; /* Style active page button */
}

/* Basic styling for the input */
.search {
  padding: 1vw;
  font-size: 1.2vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.5vw;
  width: 20vw;
  position: relative;
  left: 46vw;
}




.wrapper {
  position: relative;
  left: 0%;
}
.search-circle {
  border: 0.1vw solid #080;
  border-color: #439bc6;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0.1vw 0.1vw 0.2vw rgba(21, 153, 219, 0.5);
  transition: all 1s ease;
  float: left;
  padding: 0.6vw;
}

.search-circle:hover,
.search-circle:focus {
  width: 33%;
  border-radius: 3%;
}

.even-row {
  background-color: #f2f2f2; /* Set the background color for even rows */
}

.odd-row {
  background-color: #ffffff; /* Set the background color for odd rows */
}


/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 5vw;
    letter-spacing: 0.5vw;
  }

  .heading h1:before,
  .heading h1:after {
    width: 2vw;
    height: 0.2vw;
  }

  .table-container {
    width: 100%;
    max-height: 100%;
  }

  table th,
  table td {
    padding: 3vw;
  }

  .popup {
    padding: 3vw;
  }

  .close {
    font-size: 5vw;
  }

  .search-circle {
    width: 8vw;
    height: 8vw;
    padding: 2vw;
  }

  .search {
    padding: 2vw;
    font-size: 2vw;
    width: 50vw;
    left: 0vw;
  }
}

