   
.ag-theme-quartz
 {
  /* --ag-foreground-color: rgb(126, 46, 132);
  --ag-background-color: rgb(249, 245, 227);
  --ag-header-foreground-color: rgb(214, 241, 194);
  --ag-header-background-color: rgb(209, 64, 129);
  --ag-header-column-resize-handle-color:  rgb(249, 245, 227); */
  
  --ag-odd-row-background-color: rgba(5, 5, 5, 0.03);
  --ag-font-size: 17px;
  /* --ag-font-family: quattrocento sans; */
  --ag-row-hover-color:rgb(239, 2 28, 180);
}
.ag-theme-quartz-dark
{
    
  --ag-font-size: 17px;
  /* --ag-font-family: quattrocento sans font; */
}
.vio{
  --ag-header-background-color:  rgb(59 7 100);
  --ag-background-color: rgb(239, 207, 251);
  --ag-header-foreground-color: white;
  --ag-header-column-resize-handle-color:  rgb(249, 245, 227);
}
.cya{
  --ag-header-background-color:  #006064;
  --ag-background-color: rgb(181, 213, 189);
  --ag-header-foreground-color: white;
  --ag-header-column-resize-handle-color:  rgb(249, 245, 227);
}
.blu{
  --ag-header-background-color:  #0D47A1;
  --ag-background-color: rgb(200, 206, 244);
  --ag-header-foreground-color: white;
  --ag-header-column-resize-handle-color:  rgb(249, 245, 227);
}
.lim{
  --ag-header-background-color:  #827717;
  --ag-background-color: rgb(236, 251, 207);
  --ag-header-foreground-color: white;
  --ag-header-column-resize-handle-color:  rgb(249, 245, 227);
}