.ag-theme-quartz
 {
  /* --ag-foreground-color: rgb(126, 46, 132);
  --ag-background-color: rgb(249, 245, 227);
  --ag-header-foreground-color: rgb(214, 241, 194);
  --ag-header-background-color: rgb(209, 64, 129);
  --ag-header-column-resize-handle-color:  rgb(249, 245, 227); */
  
  --ag-odd-row-background-color: rgba(5, 5, 5, 0.03);
  --ag-font-size: 17px;
  --ag-font-family: monospace;
  --ag-row-hover-color:rgb(239, 228, 180);
}
.ag-theme-quartz-dark
{
    
  --ag-font-size: 17px;
  --ag-font-family: monospace;
}